/* TransactionForm.css */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 20px; */
  font-family: cursive;
  /* background-color: red; */
  /* height: 100vh; */
}
h2{
  letter-spacing: 0.3em;

}
.custom-form {
  display: flex;
  gap: 50px;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
  /* font-weight: bold; */
}

input {
  width: 85%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-top: 4px;
  background-color: #dddddd; 
  padding-left: 1rem;
  font-family: cursive;

}

.btn{
  display: flex;
  justify-content: center;
  /* background-color: red; */
  /* width: 2rem; */

}
.btn>button {
  background-color: #fff0c0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 2rem;
  width: 10rem;
  color: black;
  font-weight: bolder;
  border: solid black 2px;
  letter-spacing: 0.3em;

}
.btn>button:hover{
  box-shadow: 1px 1px 12px 1px #d1c292;
}
.result{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.result >.r{
  background: rgb(253,239,190);
  background: linear-gradient(100deg, rgba(253,239,190,1) 0%, rgba(130,217,113,1) 70%); 
  width: 10rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 1rem;
border-radius: 50px;
text-align: center;
}